<section class="magic-ball magic-ball-sm magic-ball-about">
    <div class="container">
        {% if include.header %} 
        <div class="section-intro text-center pb-90px">
          <img class="section-intro-img" src="{{include.header.image}}" alt="">
          <h2>{{include.header.title}}</h2>
          <p>{{include.header.paragraph}}</p>
        </div>
        {% endif %} 
      <div class="row">
        {% for item in include.cards %}
        {% assign card_per = include.card_per_line | plus: 0 %}
        {% if card_per >= 1 and card_per <= 4 %} 
          {% assign col =  12 | divided_by: card_per %}
          {% assign divConClassName = "col-lg-" | append: col %}
        {% else %} 
          {% assign divConClassName = "col-lg" %}
        {% endif %}

        {% assign image_size = include.image_size | plus: 0 %}
        {% if image_size > 0 %}
        {% assign style_image_size = "height: " | append: image_size  %}
        {% assign style_image_size = style_image_size | append: "px"  %}
        {% else %}
        {% assign style_image_size = "height: " | append: "260px"  %}
        {% endif %}

         <div class="{{ divConClassName }} col-xs-12 pt-4 pb-4  about-content">
            <div class="text-{{item.image_align}}">
              <div class="service-card-img" style="{{style_image_size}}">
                <img class="img-fluid w-auto h-100" src="{{item.image}}" alt="">
              </div>
            </div>
            <h2 style="height: 80px">{{ item.title }}</h2>
            <p>{{ item.paragraph }}</p>
            {% if item.button_style == 'link'  %}
              {% assign buttonClassName = "" %}
            {% else %}
              {% assign buttonClassName = "button" %}
            {% endif %}
            {% if item.button_url && item.button_label  %}
            <a class="{{ buttonClassName}}"
                href="{{ item.button_url }}">{{ item.button_label }}</a>
            {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
  </section> 