{% if include.fluid == 1 %}
  {% assign sectionClassName = "bg-gray section-padding-small magic-ball magic-ball-testimonial" %}
  {% assign divClassName = "container text-center" %}
  {% assign divConClassName = "" %}
{% else %}
  {% assign sectionClassName = "bg-gray section-padding magic-ball magic-ball-testimonial pb-xl-5" %}
  {% assign divClassName = "section-intro text-center pb-90px" %}
  {% assign divConClassName = "container" %}
{% endif %}

{% assign image_size = include.image_size | plus: 0 %}
{% if image_size > 0 %}
{% assign style_image_size = "height: " | append: image_size  %}
{% assign style_image_size = style_image_size | append: "px"  %}
{% else %}
{% assign style_image_size = "height: " | append: "90px"  %}
{% endif %}


<section class="{{ sectionClassName }}">
    <div class="{{ divConClassName }}">
      <div class="{{ divClassName }}">
        {% assign imageCheck = include.image | strip_newlines %}
        {%- if imageCheck != "" -%}
        <div style="{{style_image_size}}">
          <img class="img-fluid w-auto h-100" src="{{ include.image }}" alt="">
        </div>
        {%- endif -%}
        <h2>{{ include.title }}</h2>
        <p class="text-{{ include.paragraph_align }}">{{ include.paragraph }}</p>
      </div>
    </div>
  </section>