{% if include.fluid == 1 %}
  {% assign fluidClassName = "bg-gray section-padding magic-ball magic-ball-testimonial" %}
{% else %}
  {% assign fluidClassName = "bg-gray section-padding magic-ball magic-ball-testimonial pb-xl-5" %}
{% endif %}
<section class="{{ fluidClassName }}">
    <div class="container">
      <div class="section-intro text-center pb-90px">
        {%- if include.image_size -%}
          <img class="section-intro-img" src="{{ include.image }}" alt="" style="width:{{include.image_size}}">
        {%- endif -%}
        <h2>{{ include.title }}</h2>
        <p>{{ include.paragraph }}</p>
      </div>
    </div>
  </section>