<section class="magic-ball magic-ball-sm magic-ball-about">
    <div class="container">
        {% if include.header %} 
        <div class="section-intro text-center pb-90px">
          <img class="section-intro-img" src="{{include.header.image}}" alt="">
          <h2>{{include.header.title}}</h2>
          <p>{{include.header.paragraph}}</p>
        </div>
        {% endif %} 
      <div class="row">
        {% for item in include.cards %}
        {% assign card_per = include.card_per_line | plus: 0 %}
        {% if card_per >= 1 and card_per <= 4 %} 
          {% assign col =  12 | divided_by: card_per %}
          {% assign divConClassName = "col-lg-" | append: col %}
        {% else %} 
          {% assign divConClassName = "col-lg" %}
        {% endif %}
         <div class="{{ divConClassName }} col-xs-12 pt-4 pb-4 align-self-center about-content">
            <h2>{{ item.title }}</h2>
            <p>{{ item.paragraph }}</p>
            <a class="button" href="{{ item.button_url }}">{{ item.button_lable }}</a>
        </div>
        {% endfor %}
      </div>
    </div>
  </section> 