<!--================ Header Menu Area start =================-->
<header class="header_area" style="color:{{site.nav_label_color}};background-color: {{site.nav_background_color}};">
  <div class="main_menu">    
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container box_1620">
        <a class="navbar-brand logo_h" href="{{ "/" | relative_url }}">
          <img src="/assets/images/logo.png" alt={{ site.title }} />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
          <ul class="nav navbar-nav menu_nav justify-content-end">
            {% assign tagOpen = "0" %}
            {% assign site_pages = site.pages | sort: "order" %}
            {% for is_page in site_pages %}
              {% if is_page.title and is_page.autogen == nil %}
                {%- if is_page.parent -%}
                  {% assign pageUrl = page.url | split: "/" %}
                  {% assign itemUrl = is_page.url | split: "/" %}
                  <li class="nav-item submenu dropdown {% if pageUrl[1] == itemUrl[1] %}active{% endif %}">
                    <a href="{{ is_page.url | relative_url }}" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                      aria-expanded="false">{{ is_page.title | escape }}</a>
                    <ul class="dropdown-menu">
                    {% assign tagOpen = "1" %}
                {%- elsif is_page.subnav and tagOpen == "1" -%}
                  <li class="nav-item">
                    <a class="nav-link {% if is_page.url==page.url %} nav-item-active-sub {% endif %}" href="{{ is_page.url | relative_url }}" >{{ is_page.title | escape }}</a>
                  </li>
                {% else %}
                  {%- if tagOpen == "1" -%}
                      </ul>
                    </li>
                    {% assign tagOpen = "0" %}
                  {%- endif -%}
                  <li class="nav-item {% if is_page.url==page.url %}active{% endif %}">
                    <a class="nav-link" href="{{ is_page.url | relative_url }}">
                      {{ is_page.title | escape }}
                    </a>
                  </li>
                {%- endif -%}
              {% endif %}
            {%- endfor -%}
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
<!--================Header Menu Area =================-->