---
layout: default
---


  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <!-- ================Hero Banner Area Start =================-->
  <section class="hero-banner magic-ball mb-5" style="background-color:{{page.tagline.background_color}};">
    <div class="container">
      <div class="row align-items-center text-center">
        <div class="col-12">
          {%- if page.tagline.line1 -%}
        <h3 {% if page.tagline.line1_color %}
            style="color:{{page.tagline.line1_color}}; font-size:{{page.tagline.line1_font_size}};" 
            {%- endif -%}
        >{{ page.tagline.line1 }}</h4>
          {%- endif -%}
          {%- if page.tagline.line2 -%}
          <h1 {% if page.tagline.line1_color %}
            style="color:{{page.tagline.line2_color}}; font-size:{{page.tagline.line2_font_size}};" 
            {%- endif -%}
          >{{ page.tagline.line2 }}</h1>
          {%- endif -%}
          {%- if page.tagline.description -%}
          <p   {% if page.tagline.description_color %}
              style="color:{{page.tagline.description_color}}" 
              {%- endif -%}
          >{{ page.tagline.description }}</p>
          {%- endif -%}
         
        </div>
      </div>
    </div>
  </section>
  <!--================Hero Banner Area End ================= -->
 <!-- ================Blocks Area Start =================-->
    {% for item in page.blocks %}
      {% include block.html block=item %}  
    {% endfor %}
 <!-- ================Blocks Area End =================-->
 



