---
layout: default
---
<section style="padding-top: 140px;padding-bottom: 90px;">
 <!-- ================Blocks Area Start =================-->
 {% for item in page.blocks_before %}
 {% include block.html block=item %}  
{% endfor %}
<!-- ================Blocks Area End =================-->
</section>
{% assign contentCheck = content | strip_newlines %}
{% if contentCheck != "" %} 
<section class="section-margin generic-margin">
  <div class="container">
    {{ content }}
  </div>
</section>
{% endif %}
 <!-- ================Blocks Area Start =================-->
 {% for item in page.blocks_after %}
 {% include block.html block=item %}  
{% endfor %}
<!-- ================Blocks Area End =================-->