---
layout: default
---
<!-- <section class="hero-banner-sm  skrollable skrollable-between" > -->
<section class="section_banner">
 <!-- ================Blocks Area Start =================-->
 {% for item in page.blocks_before %}
 {% include block.html block=item %}  
{% endfor %}
<!-- ================Blocks Area End =================-->
</section>
{% assign contentCheck = content | strip_newlines %}
{% if contentCheck != "" %} 
<section class="section-margin generic-margin">
  <div class="container">
    {{ content }}
  </div>
</section>
{% endif %}
 <!-- ================Blocks Area Start =================-->
 {% for item in page.blocks_after %}
 {% include block.html block=item %}  
{% endfor %}
<!-- ================Blocks Area End =================-->